SS Selectors
CSS Properties
CSS Functions
CSS Examples
CSS Questions
CSS Tutorial
Bootstrap
Tailwind
LESS
SASS
Web-Technology

Open In App
Related Articles
Write an Interview Experience
Share Your Campus Experience
Git Tutorial
Introduction to Git
Git Installations
Git Commands
Git and GitHub
Git and GitHub in VS code
Git and GitHub in Android Studio
Git and GitHub in Pycharm
Git and GitHub Deployment
How to Deploy Angular Application to Firebase using GitHub ?
How to Add Custom Domain To GitHub Pages?
How to Deploy a Django Application to Heroku with Git CLI?
How to create a CV using HTML and host in github ?
Deployment of Angular Application using Github Pages
How to Build Portfolio Website And Host It on GitHub Pages?
How to create a CV using HTML and host in github ?
What is Collaboration in Git?
What are GitHub Collaborators?
What is GitHub Discussion?
Forking Workflow in Open Source Ecosystem
How to Clone Github Repository and Push Changes in Colaboratory?
Git and GitHub Collaboration
Advanced Git
How to create a CV using HTML and host in github ?

author
vickykumar7061
Read
Discuss
Courses
Practice
In today’s digital age, having an online presence is crucial, especially when it comes to professional endeavors. One effective way to showcase your skills, experiences, and accomplishments is by creating a compelling curriculum vitae (CV). 

In this article, we are going to build a CV using HTML, and CSS. Later, we will host it on GitHub, a popular platform for version control and code hosting. So let’s dive in and unlock the power of HTML and GitHub to craft a standout CV that truly represents your capabilities and accomplishments.

Approach: We will use  HTML & CSS to create this resume. Now we will understand the code part & designing part. In the HTML section, we link the CSS page in the head section and also the title of the page is written there.

HTML
: We will use HTML for creating the layout of the page. In the index.html file, we use two div blocks for the left side & right side parts. in the left side div block, we use five div blocks for Image, Contact, Skills, Language & Hobbies and put the data in each section. On the right side, we used five div blocks for Name, Summary, Experience, Education & Project. we used the list and table elements here.
CSS
: In the resume.css file we will make each div with a class name that is used for designing this resume. For the left side div block, we use class name (.left), and similar for the right side we use (.right) and set the properties
background
color & position. We will use the
display flex property
in the body and grid for the full page.
Example: In this example code, we are using the above approach.

HTML
CSS
/* Write CSS Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: rgb(126, 219, 231);
    padding: 20px;
 
}
.right {
    position: initial;
    background-color: rgb(162, 202, 206);
    padding: 20px;
 
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(4, 96, 150);
}
